<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API로 값 가져오기</h1>
    <button id="btnApi">확인</button>
    <input type="number" id="num" >
    <p id="apiText"></p>
    <p id="Rstr_Name"></p>

    <script>
      //ajax형태로 작성 - 버튼을 눌렀을때 data불러오기
      function openApi() {
        const req = new XMLHttpRequest();

        req.open('GET', "https://busan-food.openapi.redtable.global/api/menu/korean?serviceKey=3cOsoxEnSZYVeTrfKrARQcYYonhykJwpZEurgWtYALHVUijbNn2a5tu7p5V7MIcw")
        req.send();
        req.onreadystatechange = function() {
          if(this.readyState ==4 && this.status == 200) {
            //p태그에 출력
            const apiText = document.querySelector('#apiText');
            const Rstr_Name = document.querySelector('#Rstr_Name');
            const num = document.querySelector('#num');
            // string문자열을  JSON객체형식으로 변환
            const data = JSON.parse(this.response);
            
            //식당이름 출력
            //console.log(data)
            Rstr_Name.innerHTML ="식당이름 : " + data.body[num.value].RSTR_NM;
            //메뉴이름 출력
            apiText.innerHTML ="MENU : " +  data.body[num.value].MENU_NM;
            //apiText.innerHTML = data.body[0].MENU_PRICE;
          }
        }
      }

      const btnApi = document.querySelector('#btnApi');
      btnApi.addEventListener('click',openApi);

      
    </script>
  </body>
</html>
